<Title:>
    {{_page.todoName}}

<index:>
    <div>
        <tabs>
            <pane title="树">
                {{if #root._session.loggedIn}}
                <view name="trees"></view>
                {{else}}
                请 <a href="/auth/github">登录</a>
                {{/if}}
            </pane>
            <pane title="TODO列表">
                {{if #root._session.loggedIn}}
                <view name="todo-list"></view>
                {{else}}
                请 <a href="/auth/github">登录</a>
                {{/if}}
            </pane>
        </tabs>
    </div>
    <div>
        <modal as="setBeginDateDialog">
            <title>设置起始时间</title>
            <datepicker active="{{_page.beginDate}}" lang="zh-cn"></datepicker>
        </modal>
        <modal as="modalDialog">
            <title>
                <input value="{{_page.editNode.text}}" placeholder="输入名称"/>
                &nbsp;
                <select on-change="selectType($event)">
                    {{each _page.nodeTypes as #type}}
                    <option selected="{{_page.editNode.type==#type}}" value="{{#type}}">{{#type}}</option>
                    {{/}}
                </select>
            </title>

            {{if _page.editNode.type=='功能'}}
                <view name="feature-dlg"></view>
            {{else}}
                <view name="task-dlg"></view>
            {{/if}}

            <!--<action class="btn-primary" name='ok' autofocus default>确定</action>-->
            <!--<action name='cancel'>取消</action>-->
            <action value="{{insertParent(_page.editNode.id)}}">上+</action>
            <action value="{{insertChild(_page.editNode.id)}}">下+</action>
            <action value="{{addChild(_page.editNode.id)}}">子+</action>
            <action value="{{setParent()}}">父=</action>
            <action value="{{delNode(_page.editNode.id)}}">删除</action>
            <action value="{{delAllChildren(_page.editNode.id)}}">子-</action>
        </modal>
    </div>

<feature-dlg:>
    <label>
        重要程度&nbsp;
        <select>
            {{each _page.featureImportances as #imp}}
            <option selected="{{_page.editNode.importance==#imp}}" value="{{#imp}}">{{#imp}}</option>
            {{/each}}
        </select>
    </label>

<task-dlg:>
    <label>
        耗时（小时）&nbsp;
        <input value="{{_page.editNode.estTime}}" placeholder="输入时间（小时）">
    </label>

<trees:>
    <div>
        <div>
            <button on-click="addRoot()">
                +根节点
            </button>
            &nbsp;
            <button on-click="setBeginDate()">
                {{if _page.beginDate}}
                起始时间：{{_page.beginDate}}
                {{else}}
                设置起始时间:{{_page.beginDate}}
                {{/if}}
            </button>
        </div>

        <!--<a on-click="clearAll()">
            clear
        </a>-->
        <div class="tree" style="width: 5000px;">
            <ul>
                {{each todos1 as #node}}
                {{if !#node.parent && !#node.del}}
                <li>
                    <view name="node" n="{{getNode(todos1,#node.id)}}"></view>
                </li>
                {{/}}
                {{/}}
            </ul>
        </div>
    </div>

<node:>
    <!--<a on-click="addChild(@n.id,'fuck')">-->
    {{if @n.type=='任务'}}
        <a on-click="showEdit(@n.id)" style="{{getTodoStyle(_page.todoList,@n.id,_page.beginDate)}}">
            {{@n.text}}
        </a>
    {{else}}
        <a on-click="showEdit(@n.id)">
            {{@n.text}}
        </a>
    {{/}}

    {{if hasChildren(todos1, @n.id)}}
    <ul>
        {{each @n.children as #childnode}}
        <li>
            <view name="node" n="{{getNode(todos1,#childnode)}}"></view>
        </li>
        {{/}}
    </ul>
    {{/}}

<todo-list:>
    <ul class="todo-list">
        {{each _page.todoList as #todo}}
        <view name="todo-item" todo={{#todo}} due="{{getOverdue(#todo,_page.beginDate)}}" finished="todos2[#todo.todo.id].finished"></view>
        {{/each}}
    </ul>

<todo-item:>
    <li class="list-box {{if todos2[@todo.todo.id].finished}}checked{{else if lessThanHack(0,@due,_page.beginDate)}}overdue{{/}} ">
        <span class="list-left">
          <input class="check" type="checkbox" checked="{{todos2[@todo.todo.id].finished}}"/>            <!---->
          <span>
            {{@todo.todo.text}}
          </span>
        </span>
        {{if !todos2[@todo.todo.id].finished}}
        <span class="list-right">
          <i class="fa fa-fw {{if lessThanHack(1,@due)}}fa-clock-o{{/}}">
          </i>
            {{if lessThanHack(0,@due,_page.beginDate)}}
                  <span class="label label-important">
                    逾期
                  </span>
            {{else if equalHack(0,@due,_page.beginDate)}}
                   <span class="label label-important">
                    今天
                  </span>
            {{else if lessThanHack(4,@due,_page.beginDate)}}
                  <span class="label label-warning">
                    剩余{{@due}}天
                  </span>
            {{else}}
                  <span class="label label-info">
                    即将到来
                  </span>
            {{/}}
        </span>
        {{/}}
    </li>