<Title:>
  树 - 开始

<index:>
  <!--<div class="bs-docs-header" id="content">
    <div class="container">
      <h1>开始</h1>
    </div>
  </div>-->

  <!--<view name="markdown"/>-->
    <!--<ul>
        {{each _page.tree_names as #name}}
        <li>
            <a href="/trees/{{#name}}">{{#name}}</a>
        </li>
        {{/}}
    </ul>-->
    <style>
        .table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
            background-color: #cccccc;
            color:#eeeeee;
        }
    </style>

    <div>
        <h1>{{_page.tree_names.length}}棵树</h1>
        <table  class="table table-striped {{if _page.shouldHover}}table-hover{{/}}">
            <thead>
            <tr>
                <th>名称</th>
                <!--<th>开始日期</th>-->
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {{each _page.tree_names as #name}}
            <tr>
                <td>
                    <a href="/trees/{{#name}}">{{#name}}</a>
                </td>
                <td>
                    <button class="btn btn-danger" on-click="delTree(#name)" on-mouseover="highlight()" on-mouseleave="disableHighlight()">删除</button>
                </td>
            </tr>
            {{/}}
            </tbody>
        </table>

        <button class="btn btn-primary" on-click="addTree()">新建树</button>
    </div>
    <div>
        <modal as="addTreeDialog" on-hide="doAddTree()">
            <title>新建一棵树</title>
            <div>
                <input value="{{_page.newTreeName}}" placeholder="输入名称"/>
            </div>

            {{if !validateTreeName(_page.newTreeName)}}
            <br>
            <div class="alert alert-danger">{{_page.dangerMsg}}</div>
            {{/}}

            <action class="btn btn-primary" value="{{_page.newTreeName}}">确定</action>

        </modal>

        <modal as="delTreeDialog">
            <title>删除树</title>
            确定要删除"{{_page.delTreeName}}"？此操作不可撤销！
            <action class="btn btn-success" value="cancel">取消</action>
            <action class="btn btn-danger" value="{{doDelTree()}}">确定</action>
        </modal>
    </div>

